<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Éditer une Crypto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Éditer la Cryptomonnaie</h1>
    <form method="POST">
        <label for="name">Nom:</label>
        <input type="text" id="name" name="name" value="{{ crypto.name }}" required><br><br>

        <label for="symbol">Symbole:</label>
        <input type="text" id="symbol" name="symbol" value="{{ crypto.symbol }}" required><br><br>

        <label for="quantity">Quantité:</label>
        <input type="number" id="quantity" name="quantity" step="0.01" value="{{ crypto.quantity }}" required><br><br>

        <label for="purchase_price">Prix d'Achat ($):</label>
        <input type="number" id="purchase_price" name="purchase_price" step="0.01" value="{{ crypto.purchase_price }}"
            required><br><br>

        <label for="current_price">Prix Actuel ($):</label>
        <input type="number" id="current_price" name="current_price" step="0.01" value="{{ crypto.current_price or 0 }}"
            required><br><br>

        <button type="submit">Sauvegarder</button>
        <a href="{{ url_for('index') }}" class="action-button cancel">Annuler</a>
    </form>
</body>

</html>